page-menu-details {
  #menu-details {  
    span {
      color: #E27D4F;
    }
    hr {
      background-color: #b4b4b4 !important;
    }
    .swiper-pagination-bullet-active  {
      background: #E27D4F;
    }

    .swiper-slide .ingredient-img {
      max-width: 50%;
      max-height: 50%;
    }
  }
}
