<ion-scroll scrollY="true" style="width: 100%; height: 100%">
  <ion-grid>
    <ion-row id="view-btn" align-items-end justify-content-end>
      <ion-col col-12 align-self-end>
        <div class="float-right">
          <ion-segment [(ngModel)]="viewStyle">
            <ion-segment-button value="list-style" class="btn-view">
                <ion-icon name="list" class="icon-white"></ion-icon>
            </ion-segment-button>
            <ion-segment-button value="grid-style" class="btn-view">
              <ion-icon name="apps" class="icon-white"></ion-icon>
            </ion-segment-button>
          </ion-segment>
        </div>
      </ion-col>
    </ion-row>
  
    <div [ngSwitch]="viewStyle">
      <div id="list-style" *ngSwitchCase="'list-style'">
        <ion-row>
          <ion-col>
            <ion-list class="makecenter"> 
              <list-view 
                *ngFor ="let menu of menus" 
                [menu]="menu" 
                [lang] = "currentLang">
              </list-view>
            </ion-list>
          </ion-col>
        </ion-row>
      </div>

      <div id="grid-content" *ngSwitchCase="'grid-style'">
        <ion-row justify-content-center >
          <ion-col *ngFor ="let menu of menus" col-12 col-sm-6 col-md-4 col-lg-4>
            <grid-view 
              [menu]="menu" 
              [lang]="currentLang"
            ></grid-view>
          </ion-col>  
        </ion-row>
      </div>
    </div>  
  </ion-grid>
</ion-scroll>
  