<ion-scroll scrollY="true" style="width: 100%; height: 100%">
  <ion-grid>
    <ion-row id="view-btn" align-items-end justify-content-end>
      <ion-col col-12 align-self-end>
        <div class="w-10">
          <ion-segment [(ngModel)]="viewStyle">
            <ion-segment-button value="list-style" class="btn-view">
                <ion-icon name="list" class="icon-white"></ion-icon>
            </ion-segment-button>
            <ion-segment-button value="grid-style" class="btn-view">
              <ion-icon name="apps" class="icon-white"></ion-icon>
            </ion-segment-button>
          </ion-segment>
        </div>
      </ion-col>
    </ion-row>
  
    <div [ngSwitch]="viewStyle">
      <div id="list-style" *ngSwitchCase="'list-style'">
        <ion-list *ngIf="currentLang === 'EN'" class="has-subheader makecenter"> 
          <list-view *ngFor ="let menu of localization[category].EN.menus"
            [name]="menu.name"
            [description]="menu.description"
            [price]="menu.price"
            [image]="menu.imgs[0]" >
          </list-view>
        </ion-list>
          
        <ion-list *ngIf="currentLang === 'JP'" class="has-subheader makecenter"> 
          <list-view *ngFor ="let menu of localization[category].JP.menus"
            [name]="menu.name"
            [description]="menu.description"
            [price]="menu.price"
            [image]="menu.imgs[0]" >
          </list-view>
        </ion-list>
      </div>

      <div id="grid-content" *ngSwitchCase="'grid-style'">
        <ion-row *ngIf="currentLang === 'EN'" justify-content-center >
          <ion-col *ngFor ="let menu of localization[category].EN.menus" col-12 col-sm-6 col-md-4 col-lg-4>
            <grid-view
              [name]="menu.name"
              [price]="menu.price"
              [image]="menu.imgs[0]" >
            </grid-view>
          </ion-col>  
        </ion-row>
        <ion-row  *ngIf="currentLang === 'JP'" justify-content-center >
          <ion-col *ngFor ="let menu of localization[category].JP.menus" col-12 col-sm-12 col-md-4 col-lg-4>
            <grid-view
              [name]="menu.name"
              [price]="menu.price"
              [image]="menu.imgs[0]" >
            </grid-view>
            </ion-col>  
        </ion-row>
      </div>
    </div>  
  </ion-grid>
</ion-scroll>
  