<ion-menu persistent='true' [content]="content">
  <ion-content>
    <ion-card>
      <img src="./assets/imgs/sidebar.jpg"/>
    </ion-card>
    <ion-list>
      <button class="sidebarBGColor sidebarFontColor" 
        ion-item menuClose detail-none 
        *ngFor="let p of appPages" 
        [class.activeHighLight]="checkActive(p)" 
        (click)="openPage(p)"
      >
        <div *ngIf="currentLang == 'EN'">{{p.enTitle}}</div>
        <div *ngIf="currentLang == 'JP'">{{p.jpTitle}}</div>
      </button>

      <button ion-item menuClose 
        *ngFor="let category of categories" 
        (click)="openMenuList(category)"
      >
        <div>
          <img src="{{ localization[category].icon }}" class="imageSize">
          <span>{{ localization[category].name[currentLang] }}</span>
        </div>
      </button>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-header>
  <header></header>
</ion-header>


<ion-content>
  <ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
</ion-content>