<ion-toolbar color="no-color" class="header-bg">
  <button ion-button menuToggle>
    <ion-icon name="menu"></ion-icon>
  </button>
  <ion-title class="center">
    <img alt="logo" src="./assets/imgs/logo.png" >  
  </ion-title>
  <ion-buttons end>
      <button ion-button (click)="updateLang('JP')">
        <img src="./assets/imgs/1f1ef-1f1f5.png" >
      </button>
      <button ion-button (click)="updateLang('EN')">
        <img src="./assets/imgs/1f1ec-1f1e7.png" >
      </button>
  </ion-buttons>
</ion-toolbar>