page-menu-list {

    .fullcenter {
      width: 100%;
    }

    .item-thumbnail-left img {
        border-radius: 100px;
        width: 20%;
        float: left;
      }

      .makecenter {
        margin: 0px auto;
        width: 682px;          
      }

      .item h2 {
        font-size: 2rem;
        font-weight: bold;
        color: #f53d3d;
        padding-left: 22%;
      }

      .item h3 {
        color: #222;
        padding-left: 22%;
      }

      .item p {
        padding-left: 2%;
      }

      span {
        color: #f53d3d;
      }

      #view-btn {
        .no-margin {
          margin: 0;
        }
    
        button[disabled] {
          background-color: mediumaquamarine;
          opacity: 1;
        }
    
        .btn-inactive {
          background-color: lightgray;
        }
    
        .icon-white {
          color: white;
        }
    
        .no-rad {
          border-radius: 0;
        }
      }

}
